.main {
  margin-left: 160px;
  padding: 10px;
}


#HomeHead {
  width: 100%;
  text-align: center;
}
#Sidemenu {
  height: 100%;
   width: 160px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   padding-top: 20px;
   float: left;
   background-color: black;
   overflow-x: hidden;
}

.container {
  display: block;
  overflow-y: scroll;
}

.SMContent {
  display: block;
  padding: 16px;
  font-size: 35px;
}

.tripBar {
display: block;
}

.TBContent {

}

.item {
  width:100%;
  float: right;
}

.Gallery {
  margin-left: 160px;
}

.OuterShell {
  width: 100%;
  display: block;
}
.buffer {
  padding: 20px;
}
.innerContainer {
  width: 150px;
  float: left;
  padding: 80px;
}
