.main {
  margin-left: 160px;
  padding: 10px;
  background-color: black;
  color: white;
}


#HomeHead {
  width: 100%;
  text-align: center;
}

#homeTitle {
  background-color: grey;
}

#Sidemenu {
  height: 100%;
   width: 160px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   padding-top: 20px;
   float: left;
   background-color: black;
   overflow-x: hidden;
}

.container {
  display: block;
  overflow-y: scroll;
}

.SMContent {
  display: block;
  padding: 16px;
  font-size: 35px;
}

.tripBar {
display: block;
}

.image {
  max-width: 100%;
  height: auto;
}

.bookingImageGrid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.recommendedTrips {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 5px;
}
